body{
  background-color: #33373E;
  color:white;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
  box-shadow: 0 3px 3px 0 aqua;
}
.nav-items{
  list-style: none;
  display: flex;
 
  font-weight: 800;
}
h3{
  font-size: 1.3rem;
  color: #00D8FF;
}
.logo{
  display: flex;
  align-items: center;
}
.nav-link {
  cursor: pointer;
  height: 100%;
  position: relative;
  padding: 10px;
  margin-right:1rem;
  font-size: 1.1rem;
  color:rgb(197, 200, 202)
}

.nav-link:hover {
 background-color: aqua;
 border-radius: 30px;
}
.nav-logo{
  width: 60px;
  margin:0 .5rem;
}

.main{
  margin: 3rem;
  background-image: url(./logo.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: right 75%;
  
}
.main > h1{
  font-size: 3rem;
  color: #00D8FF;
}

.main > ul > li{
 
  margin: 1rem 0;
  font-size: 1.1rem;
  color: rgb(169, 174, 177);
  font-weight: 500;
}

 .main > ul > li::marker {
    font-size: 1.8rem;
    color: #00D8FF;
}

.footer{
  position: absolute;
  right:0;
  left: 0;
  bottom: 0;
  text-align: center;
  color:rgb(41, 95, 97);
  background-color: rgb(194, 194, 194);
  padding:0.1rem;
  font-weight: 600;
}
